 /* font  */ 

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
body{
    display: block;
}
/* banner style */
 .Banner{
    background-image: url(./resource/Hero-bg.png);
    object-fit: cover; 
    width: 1500px;
    height: 700px;
    text-align: center; 
 }
  
 .banner-pic
 {
    width: 240.28px;
    height: 240px;
    padding: 26px 600px 26px 600px;
 }
 .banner-txt
 {
    font-size: 48px;
    font-weight: 800;
 }
 .banner-para
 {
    font-size: 20px;
    font-weight: 400;
    padding: 0 200px 0 200px; 
    color: rgb(13, 19, 33); 
 }
 .banner-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 22px;
    width: 208px;
    height: 66px;
 }
 /* web-development */
 .web-dev{
    text-align: center;
    padding: 80px 97px 80px 97px; 
 } 
.web-txt{
      justify-content: flex-start; 
      align-items: center;
      gap: 24px;  
}
.web-para{
    color: rgb(13, 19, 33); 
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;  
    padding :24px 180px 48px 180px;
}
.webhead{
    color: rgba(13, 19, 33, 0.7);
}
.web-head{
    padding-top: 154px; 
    color: rgb(13, 19, 33);
    font-family: Azeret Mono; 
    font-size: 32px;
    font-weight: 800; 
    text-align: center;
}
 .web-btn{
    justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
 background-color: white;
 }
 .webpara{
    color: rgb(13, 19, 33);
 }
 .web-pic-1, .web-pic-3
 {
    display: flex; 
    text-align: center; 
    justify-content: space-between; 
    padding: 75px 152px 33px 148px; 
    gap: 100px;
 } 
  .web-pic-2{
    display: flex; 
    text-align: center; 
    justify-content: left; 
    padding: 75px 152px 33px 148px; 
    gap: 90px;
  }
 .web-pic11 , .web-pic22 , .web-pic33{
    max-width: 400px;
    width: 477px;
    height: 220px;
    padding-left: 0px; 
    text-align: left; 
}
/* youtube  */
.youtube-txt{
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 88px 144px 48px 144px;
}
.youtube-txthead{
   font-size: 32px;
}
.youtube-txtpara{
   padding: 24px 144px 48px 144px; 
   font-size: 16px;
}
.youtube-vid{
   text-align: center; 
}
iframe{
   border-radius: 40px;
}
/* target style */
.target{
   text-align: center;
   padding-top: 150px;
}
.target-para{
   color: rgb(13, 19, 33); 
font-size: 16px;
font-weight: 400; 
text-align: center; 
padding: 24px 200px 48px 200px;
}

.tcard{
   display: flex;
   text-align: left;
   align-items: flex-start;
   padding: 48px 200px 110px 150px; 
   gap: 30px;
}
.card-1 .card-2 .card-3{
   padding: 50px;  

}
.card-1{
   background-color: rgba(255, 76, 30, 0.05);
   width: 364px;
   height: 245px;
}
.card-2{
   background-color: rgba(0, 76, 232, 0.05);
   width: 364px;
   height: 245px;
}
.card-3{
   background-color: rgba(255, 223, 0, 0.05);
   width: 364px;
   height: 245px;
}
/* support */
.support{  
   background-image: url(/resource/handshake.jpg);
   margin-left: 180px; 
   background-size: 100% 100%;
   background-repeat: no-repeat;
   border-radius: 16px;
   width: 1140px;
   height: 314px;
   left: 150px; 
}
.text {
   width: 800px;
   height: 15px;
     padding: 19px 20px 19px 20px;
     text-align: left; 
     justify-content: center; 
     border-radius: 8px;
}
.support-head{
   padding-top: 64px;
   text-align: center;
   color: white;
}
.support-para{
   text-align: center;
   color: white;
}
.support-txt{ 
   width: 500px;
   display: flex; 
   resize: none; 
   gap: 20px; 
   padding-left: 250px;
   padding-top: 25px;
   align-items: center;
}
.text-submit{ 
   padding: 19px 20px 19px 20px; 
   background-color: white;
   font-size: 13px;
   font-weight: 600;
   border-radius: 8px;
   text-align: center;
}
/* foot */
.foot{
   display: flex;
   padding-top: 79px;
   padding: 28px 150px ;
   border-radius: 16px;
   background: rgba(0, 6, 19, 0.03);
   justify-content:space-between;
}